    .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #414242;
    border-right: 1px solid #171818;
    margin-right: 30px;
}
    .sidebar a {
        color: #b0b4b6;
    }
    .sidebar a:hover {
        color: #f5a22a;
    }