
#rocket{
	width:275px;
	height:375px;
	background:url(../images/iPhone_Home.png) no-repeat;
	margin:140px auto 50px;
	position:relative;
}

/*	Two steam classes. */

.steam1,
.steam2{
	z-index: 1000;
	position:absolute;
	bottom:78px;
	left:50px;
	width:200px;
	height:200px;
	background:url(../images/steam.png);
	opacity:0.8;
}

.steam2{

   /*	.steam2 shows the bottom part (dark version)
	*	of the background image.
	*/

	background-position:left bottom;
}

